@model Capa_Entidad.Proveedor

@{
    ViewBag.Title = "Detalle del Proveedor";
}

<div class="container mt-4">
    <div class="card shadow rounded">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Detalle de Proveedor</h4>
        </div>

            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>Código</th>
                        <td>@Model.cod_prov</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>@Model.nom_prov</td>
                    </tr>
                    <tr>
                        <th>Pais de origen</th>
                        <td>@Model.pais_origen</td>
                    </tr>
                    <tr>
                        <th>Telefono</th>
                        <td>S/ @Model.telefono</td>
                    </tr>
                    <tr>
                        <th>Correo</th>
                        <td>@Model.email unidades</td>
                    </tr>
                    
                </tbody>
            </table>

            <div class="mt-4 d-flex justify-content-between">
                @Html.ActionLink("Editar", "EditProveedor", new { id = Model.cod_prov }, new { @class = "btn btn-success" })
                @Html.ActionLink("Regresar", "IndexProveedor", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
</div>
