<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RepuestosCAR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="~/Content/Styles/Navbar.css" rel="stylesheet" />

    <style>
        .bg-azul-oscuro {
            background-color: #0d3b66 !important;
        }

        .navbar-brand img {
            height: 40px;
        }

        .dropdown-cart,
        .dropdown-user {
            position: relative;
        }

        .dropdown-menu-cart {
            position: absolute;
            right: 0;
            top: 100%;
            min-width: 300px;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            z-index: 1000;
            display: none;
        }

        .dropdown-menu-user {
            right: 0;
            left: auto;
            min-width: 200px;
        }


        .nav-icons i {
            font-size: 1.3rem;
            color: white;
            margin-left: 1rem;
            cursor: pointer;
        }

        .cart-product {
            border-bottom: 1px solid #eee;
            padding: 5px 0;
        }

        .nav-icons i {
            font-size: 1.4rem; /* Tamaño más grande */
            color: white !important; /* Blanco asegurado */
            margin-left: 1.2rem;
            cursor: pointer;
            transition: transform 0.2s ease;
        }

            .nav-icons i:hover {
                transform: scale(1.2); /* Efecto al pasar el mouse */
                color: #e0e0e0; /* Color ligeramente gris al hacer hover */
            }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-azul-oscuro">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Content/Productos/LOGO_h.png" alt="Logo" />
            </a>

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @{
                var pro = new List<Capa_Entidad.Categoria>();
                var obj = new Capa_Bussiness.ProductoBussiness();
                pro = obj.listaCategoria();
            }
            <!-- Nav items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Acerca de", "AcercaDe", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Productos", "IndexProductoCliente", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item dropdown position-relative">
                    <a class="nav-link dropdown-toggle" href="#" id="productosDropdown">Categorias</a>
                    <ul class="dropdown-menu" aria-labelledby="productosDropdown">
                        @foreach (var item in pro)
                        {
                            <li>@Html.ActionLink(item.nom_cate, "IndexProductoCategoria", "Home", new { id_cate = item.cod_cate }, new { @class = "dropdown-item" })</li>
                        }
                    </ul>

                </li>
                @{
                    string rol = Session["rol"] as string;
                    if (rol == "R01")
                    {
                        <li class="nav-item dropdown position-relative">
                            <a class="nav-link dropdown-toggle" href="#" id="productosDropdown">Mantenimiento</a>
                            <ul class="dropdown-menu" aria-labelledby="productosDropdown">
                                <li>@Html.ActionLink("Productos", "IndexProducto", "Producto", null, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Proveedores", "IndexProveedor", "Proveedor", null, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Clientes", "IndexUsuario", "Login", null, new { @class = "dropdown-item" })</li>
                            </ul>

                        </li>
                        <li class="nav-item dropdown position-relative">
                            <a class="nav-link dropdown-toggle" href="#" id="productosDropdown">Reportes</a>
                            <ul class="dropdown-menu" aria-labelledby="productosDropdown">
                                <li>@Html.ActionLink("Venta Usuarios", "UsuarioVentas", "Reporte", null, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Venta Producto importe", "ProductoImporteVentas", "Reporte", null, new { @class = "dropdown-item" })</li>
                            </ul>

                        </li>
                    }
                }

            </ul>
            <!--MODAL SEARCH-->
            @using (Html.BeginForm("IndexProductoCliente", "Home", FormMethod.Post, new { @class = "d-flex ms-3", role = "search" }))
            {
                @Html.TextBox("nombre", null, new { @class = "form-control me-2", type = "search", placeholder = "Buscar producto...", aria_label = "Buscar" })
                <button class="btn btn-outline-light" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            }

            <!-- Iconos derecha -->
            <div class="nav-icons d-flex align-items-center">
                <!-- Carrito -->
                <div class="dropdown-cart position-relative">
                    <i class="fas fa-shopping-cart" id="cartIcon"></i>
                    <div class="dropdown-menu-cart shadow rounded">
                        @if (Session["Carrito"] != null)
                        {
                            var lista = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Capa_Entidad.Carrito>>((string)Session["carrito"]);

                            if (lista.Count > 0)
                            {
                                foreach (var item in lista)
                                {
                                    <div class="cart-product">@item.nom_pro -  S/ @item.importe</div>
                                }
                                <a href="@Url.Action("IndexCarrito", "Venta")" class="btn btn-primary btn-sm w-100 mt-2">Ir al Carrito</a>
                            }
                            else
                            {
                                <strong>No hay productos en el carrito  </strong>
                            }

                        }
                        else
                        {
                            <strong>Inicia sesion para agregar </strong>
                        }
                    </div>
                    </div>

                    <!-- Usuario -->
                    <div class="dropdown dropdown-user ms-3">
                        <i class="fas fa-user" id="userIcon
                           " data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-user" aria-labelledby="userDropdown">
                            @if (Session["codigo"] == null)
                            {
                                <li><a class="dropdown-item" href="@Url.Action("Login", "Login")">Iniciar Sesión</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="@Url.Action("Registrar", "Login")">Registrarse</a></li>
                            }
                            else
                            {
                                string codigo = Session["codigo"].ToString();
                                <li><h6 class="dropdown-header">Hola, @Session["nombre"]</h6></li>
                                <li><a class="dropdown-item" href="@Url.Action("DetailsUsuario", "Login",new { id = codigo,rol = Session["rol"] })">Perfil</a></li>
                                <li><hr class="dropdown-divider"></li>
                                if (Session["rol"].ToString() == "R02")
                                {
                                    <li><a class="dropdown-item" href="@Url.Action("ActualizarUsuario", "Login",new { id = codigo })">Editar</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                }

                                <li><a class="dropdown-item" href="@Url.Action("Logout", "Login")">Cerrar Sesión</a></li>
                            }

                        </ul>
                    </div>
                </div>

        </div>
        </div>


    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RepuestosCAR</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

